.container-fluid
{
height:5.3em;
background: #a62828;
}
#products
{
right: 329%;
bottom: -24%;
font-size: 200%;
font-weight:500;
}
#login
{
font-size: 200%;
right: 225%;
bottom: 100%;
font-weight: 500;
position: absolute;
}
#register
{
font-size: 200%;
font-weight: 500;
position: absolute;
right: 102%;
bottom: 77%;
}
#name
{font-size: 300%;
font-variant: small-caps;
font-weight: 500;
color:#fff;
}
#alert
{
margin-top:2.8%;
font-size:178%;
background: seashell;
margin-bottom:-3%;
}
#alert strong
{
padding-left: 2%;
font-variant: small-caps;
}
#alert span
{
font-size:166%;
}

.footer {
    background: #590d0d;
    background-size: 200px;

}



.first {
    margin-top: 40px;
    margin-bottom: 30px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

    .first h4 {
        font-size: 20px;
        letter-spacing: 3px;
        position: relative;
        margin-bottom: 20px;
        font-size: 200%;
        color: #fff;
        padding-bottom: 0.5em;
    }

        

    .first p {
        font-size: 18px;
        font-weight: bold;
    }

.second {
    margin-top: 40px;
    margin-bottom: 50px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.second2 {
    margin-top: 40px;
    margin-bottom: 50px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.second h4 {
    font-size: 20px;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 20px;
    font-size: 200%;
    color: #fff;
    padding-bottom: 0.5em;
}



.second li {
    list-style: none;
    padding-bottom: 9px;
}

.second a, .second2 a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 164%;
    transition: 0.2s;
}

    .second a:hover, .second2 a:hover {
        color: #fff;
        transition: 0.2s;
        text-shadow: 1px 1px 20px rgba(0,0,0,1);
        text-decoration: none

    }



.third {
    margin-top: 40px;
    margin-bottom: 50px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: right;
    font-weight: bold;
}


    .third h4 {
        font-size: 20px;
        letter-spacing: 3px;
        position: relative;
        margin-bottom: 20px;
        font-size: 200%;
        color: #fff;
        padding-bottom: 0.5em;
    }


      

    .third li {
        list-style: none;
        padding-bottom: 9px;
        font-size:138%
    }


    .third a {
        color: rgb(8, 8, 8);
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 14px;
        transition: 0.2s;
    }


        .third a:hover {
            color: #fff;
            transition: 0.2s;
            text-shadow: 1px 1px 20px rgba(0,0,0,1);
        }


@media screen and (max-width:1000px) {
    .first {
        text-align: center;
    }

        .first h4::after {
            left: 40%;
        }
}

@media screen and (max-width:1000px) {
    .third {
        text-align: center;
    }

        .third h4::after {
            left: 40% !important;
        }
}

.margin {
    margin-left: 20px;
}

.line {
    height:2px;
    background-color:rgb(206,206,206);
    width:100%;
}

.container h1{
    text-align:center;
    margin-top:100px;
    margin-bottom:100px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 600;
    line-height: 1.1;}

