{% extends 'desc.html' %}
{% block title %}
Standy Zipper Pouch
 {%endblock%}
 {% block heading %} 
3 Side Seal Standy Zipper Pouch
 {% endblock heading %}
 {% block image %}
            <img src="../static/img/07.png" class="img-fluid" alt="" style="height: 73vh; margin-left: 28%; width: 73%;margin-top: 8%;" id='img'>
{% endblock image %}
 {% block features %}
<li> 60 micron Opaque Material</li>
<li> Size: 160cm x 200cm</li>
<li>4-side seal</li>
<li>12 Micron Polyester</li>
<li>Coloured Polyfilm</li>
{% endblock features %}
