{% extends 'desc.html' %}
{% block title %}
Akash PP print
 {%endblock%}
 {% block heading %} 
 Akash Polyproplene Flexo Printing Monolayer Film
 {% endblock heading %}
 {% block image %}
 <div id = "image">	</div>
 <img class = "preview preview1" alt = "" src = "../static/img/01.jpg" onmouseover = "upDate(this)"  >
<img class = "preview preview2" alt = "" src = "../static/img/02.jpg" onmouseover= "upDate(this)">
{% endblock image %}
 {% block features %}
 <li> Size : 10" x 16"</li>
<li>Side Seal Bag</li>
 <li> Flexo Colored Prinitng</li>
<li>3-Layer printing</li>
<li>Thickness(gsm): 190gze</li>
<li>Monolayer Film</li>
{% endblock features %}
