{% extends 'base.html' %}
{% block title %} Register {% endblock title%}
{%block stylesheet%}
<link rel='stylesheet' href='../static/css/register.css'>
{% endblock stylesheet%}
{% block body%}
<form action="/register"  method="post" >
  {% csrf_token %}
  <div class="continer">
    <h1 style="text-align:center"> register</h1>
    <p class='top'>please fill in this form to create an account.</p>
    <hr>
    <label for="name">Name</label>
    <input type="text" placeholder="Name " name="name" id="nme" required><br>


    <label for="organization">Name of Organization</label>
    <input type="text" placeholder=" Enter Organization Name" name="organization" id="organization" required>
        
    <label for="address">Organization Address</label>
    <input type="text" placeholder=" Enter organization address" name="address" id="address" required>
    
    <label for="contact">Contact Number</label>
    <input type="tel" placeholder="Enter Contact Number" name="contact" id="contact" required>

    <label for="email">E-mail</label>
    <input type="email" placeholder="Enter E-mail" name="email" id="email" required>


    <label for="gst">GST Number</label>
    <input type="text" placeholder="Enter GST Number" name="gst" id="gst" required>

    <label for="pswd">Password</label>
    <input type="password" placeholder="Enter Password" name="pswd" id="pswd" required>

    <label for="repswd">Re-enter Password</label>
    <input type="password" placeholder="Re-enter Password" name="repswd" id="repswd" required>
    <hr>

    <button type="submit" class="registerbtn">Submit</button>
  </div>
  
  <div class="container signin">
    <p>Already have an account? <a href="login">Sign in</a>.</p>
  </div>
</form>

{% endblock body%}
